@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,700;0,800;1,600;1,700&family=Libre+Baskerville:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville';
}

.caixa-fundo {
    height: 100vh;
    width: 100%;
    background-image: url(./img1/fundo.gif);
    background-size: cover;
    background-position: center;
    background-color: #191919;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}
nav .menu-mobile{
    display:none;
}
nav .btn-mobile{
    display: none;
}


.portfolio {
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;

}

.portfolio span {
    color: red;
    font-size: 30px;
}

ul li {
    color: white;
    font-size: 30px;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;

}

ul li:hover {
    scale: 1.2;
}

ul a:hover {
    color: aqua;



}

.link-menu {
    text-decoration: none;
    color: white;
}

.meu-nome {
    top: 50%;
    left: 7%;
    text-align: center;
    margin-top: 235px;
}

h1 {
    color: white;
    font-size: 90px;
}

h1 span {
    color: red;
}

.meu-nome h3 {
    font-size: 40px;
    color: white;
}

#Sobre {
    display: flex;
    align-items: center;
    padding: 60px 20%;
    text-align: center;
    background: linear-gradient(#19191941, #074bcad8, #191919);

}

.sobre-mim h2 p {
    color: #f0dfdf
}

#Sobre .img h2 {
    font-size: 25px;
    color: #faf5f5;
}

section img {
    height: 300px;
    border-radius: 100%;
    border: 4px solid white;
    margin-right: 30px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section div h2 {
    color: rgb(235, 228, 228);
    font-size: 75px;
}

section div p {
    color: rgb(244, 244, 247);
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.Projetos {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(./img1/pjt.gif);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Projetos h2 {
    color: white;
    font-size: 75px;
    text-align: center;
}

.card {
    background-color: #000000a1;
    height: 365px;
    width: 275px;
    border-radius: 22px;
    padding: 20px 35px;
    text-align: center;
    box-shadow: 0px 10px 40px 10px rgba(242, 242, 250, 0.459);
    animation: 1s infinite;
}

.card img {
    height: 80px;
}

.card h5 {
    color: white;
    font-size: 20px;
    margin: 10px;
}

.card p {
    color: red;
    margin-top: 16px;
    margin-bottom: 20px;
    font-size: 16px;
}

.card a {
    background-color: #f9004d;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration-line: none;

}

.card a:hover {
    background-color: transparent;
    border: 2px solid #f0dfdf;

}

.card-projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

footer {
    background-color: #000000;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer h5 {
    color: white;
    font-size: 35px;
    text-align: center;
}

footer p {
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
}

.social {
    display: flex;
    gap: 20px;

}

.social img {
    height: 32px;
    border-radius: 60%;
}

.social a {
    background-color: rgb(61, 61, 184);
    border-radius: 50px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    justify-content: center;
    cursor: pointer;
}

.social a :hover {
    transform: scale(1.4);
    transition: 0.5s;
}

/* responsivo */
@media(max-width:568px) and (min-width:320px) {

    .caixa-fundo {
       max-width: 100%;
        
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
    }
    nav .menu-principal{
        display:none;
    }
    nav .btn-mobile {
        display: block;
        
    }

    nav .btn-mobile ion-icon {
    background: linear-gradient(#f30808,  #faf6f6);
        font-size: 1.8rem;
        cursor: pointer; 
        position: fixed;  
        margin-top: -20px;
        margin-left: -20px;
    }
    nav .btn-mobile ion-icon:hover{
        scale:1.3;
    }
    nav .menu-mobile {
        display: none;
        width: 400px;
        height: 100px;
        box-shadow: 0 0 15px 0 rgba(21, 111, 195, 0.5);
        position: fixed;
        top: 70px;
        border-radius: 10px;
        background: #a7c2dbe3;
        opacity: 0.8;


    }
    nav .menu-mobile ul {
        text-align: center;
    }

    nav .menu-mobile ul li {
        list-style: none;
        padding: 12px 0;
    }

    nav .menu-mobile ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #020202;
        font-size: 18px;
        display: flex;
        align-items: center;
    }
.caixa-fundo .meu-nome h1 {
    font-size: 30px;
}

.caixa-fundo .meu-nome h3{
    font-size: 30px;
}

    #Sobre {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 60px 20%;
        text-align: center;
        background: linear-gradient(#191919, #03c0fa, #074bcad8, rgba(78, 7, 243, 0.678) #191919);

    }


    #Sobre .img h2 {
        font-size: 25px;
        color: #000000;
    }

    #Sobre .sobre-mim h2  {
        color: #f10b0b;
        font-size: 40px;
        margin-top: 15px;
    }
    .Projetos h2{
        font-size: 45px;
    }
    .card-projetos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card-projetos .card {
        width:285px;
        
    }

    .card-projetos .card:hover {
        scale:0.1;
    }

    .card-projetos .card img {
        height: 130px;
        
    }

    .card-projetos .card h5 {
        color: white;
        font-size: 25px;
        
    }

    .card-projetos .card p {
        color: red;
        margin-top: 16px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .card a {
        background-color: #f9004d;
        color: white;
        padding: 10px 15px;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.5s;
        text-decoration-line: none;
        margin-top: 25px;

    }

    footer {
        border: none;
        background: linear-gradient(#000000, #000c20, #c7c8cc91);
    }

}

@media(max-width:1024px){
    .caixa-fundo {
        min-width: 360px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
    }

    #Sobre {
        display: flex;
        align-items: center;
        padding: 60px 20%;
        text-align: center;
        background: linear-gradient(#191919, #03c0fa, #074bcad8, rgba(78, 7, 243, 0.678) #191919);

    }


    #Sobre .img h2 {
        font-size: 25px;
        color: #000000;
    }

    #Sobre .sobre-mim h2 p {
        color: #f10b0b;
    }

    .card-projetos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }

    .card {
        height: 565px;
        width: 375px;
    }

    .card-projetos .card:hover {
        scale: 1.2;
    }

    .card img {
        height: 180px;
    }

    .card h5 {
        color: white;
        font-size: 40px;
        margin: 30px;
    }

    .card p {
        color: red;
        margin-top: 16px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .card a {
        background-color: #f9004d;
        color: white;
        padding: 10px 15px;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.5s;
        text-decoration-line: none;
        margin-top: 25px;

    }

    footer {
        border: none;
        background: linear-gradient(#000000, #000c20, #c7c8cc91);
    }

}


